* {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, div.section, footer {
  width: 90%;
  max-width: 1000px;
}

header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;
}

div.section {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

a {
  color: var(--color-on-primary-container);
  font-size: 20px;
  box-sizing: border-box;
  text-decoration: underline;
  text-decoration-color: var(--color-on-primary-container);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  text-decoration-color: var(--color-primary-container);
  font-size: 22px;
}

li, #retour {
  height: 30px;
}

#retour {
  margin-left: 10px;
}

footer {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

#back {
  list-style-type: "\2190 \0020";
}