form {
  max-width: 500px;
  box-sizing: border-box;
}

form div {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

form input[type="text"], form input[type="email"] {
  width: 100%;
  height: 20px;
  padding: 3px 10px;
  background-color: transparent;
  color: var(--color-on-surface-variant);
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--color-on-surface-variant);
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}

form label, form input, #output input {
  font-size: 15px;
}

form .buttons {
  text-align: center;
}

form input.error-input {
  border-bottom: 1px solid var(--color-error);
  background-color: var(--color-error-container);
  color: var(--color-on-error-container);
}

#output {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#output input {
  padding: 2px 5px;
  background-color: transparent;
  color: var(--color-on-surface-variant);
  border: none;
  border-bottom: 1px solid var(--color-on-surface-variant);
}
