:root {
  --source-primary: #1C6CDA;
  --source-secondary: #8A1CDA;
  --source-tertiary: #BA1CDA;
  /* primary */
  --palette-primary0: #000000;
  --palette-primary10: #001a41;
  --palette-primary20: #002e69;
  --palette-primary25: #00397e;
  --palette-primary30: #004494;
  --palette-primary35: #004faa;
  --palette-primary40: #005bc1;
  --palette-primary50: #2a74e2;
  --palette-primary60: #4c8efe;
  --palette-primary70: #80abff;
  --palette-primary80: #adc6ff;
  --palette-primary90: #d8e2ff;
  --palette-primary95: #edf0ff;
  --palette-primary98: #f9f9ff;
  --palette-primary99: #fefbff;
  --palette-primary100: #ffffff;
  /* secondary */
  --palette-secondary0: #000000;
  --palette-secondary10: #2d004f;
  --palette-secondary20: #4b007d;
  --palette-secondary25: #5b0096;
  --palette-secondary30: #6b00af;
  --palette-secondary35: #7c00c9;
  --palette-secondary40: #8a1cda;
  --palette-secondary50: #a542f5;
  --palette-secondary60: #bb6aff;
  --palette-secondary70: #cd92ff;
  --palette-secondary80: #e0b7ff;
  --palette-secondary90: #f1daff;
  --palette-secondary95: #faecff;
  --palette-secondary98: #fff7fd;
  --palette-secondary99: #fffbff;
  --palette-secondary100: #ffffff;
  /* tertiary */
  --palette-tertiary0: #000000;
  --palette-tertiary10: #350040;
  --palette-tertiary20: #560068;
  --palette-tertiary25: #68007c;
  --palette-tertiary30: #7a0092;
  --palette-tertiary35: #8d00a8;
  --palette-tertiary40: #a000be;
  --palette-tertiary50: #c228e1;
  --palette-tertiary60: #e04cfe;
  --palette-tertiary70: #ed80ff;
  --palette-tertiary80: #f7adff;
  --palette-tertiary90: #ffd6ff;
  --palette-tertiary95: #ffebfc;
  --palette-tertiary98: #fff7fa;
  --palette-tertiary99: #fffbff;
  --palette-tertiary100: #ffffff;
  /* neutral */
  --palette-neutral0: #000000;
  --palette-neutral10: #1b1b1f;
  --palette-neutral20: #303033;
  --palette-neutral25: #3b3b3f;
  --palette-neutral30: #46464a;
  --palette-neutral35: #525256;
  --palette-neutral40: #5e5e62;
  --palette-neutral50: #77777a;
  --palette-neutral60: #919094;
  --palette-neutral70: #ababaf;
  --palette-neutral80: #c7c6ca;
  --palette-neutral90: #e3e2e6;
  --palette-neutral95: #f2f0f4;
  --palette-neutral98: #faf9fd;
  --palette-neutral99: #fefbff;
  --palette-neutral100: #ffffff;
  /* neutral-variant */
  --palette-neutral-variant0: #000000;
  --palette-neutral-variant10: #191b22;
  --palette-neutral-variant20: #2e3038;
  --palette-neutral-variant25: #393b43;
  --palette-neutral-variant30: #44474f;
  --palette-neutral-variant35: #50525a;
  --palette-neutral-variant40: #5c5e66;
  --palette-neutral-variant50: #74777f;
  --palette-neutral-variant60: #8e9099;
  --palette-neutral-variant70: #a9abb4;
  --palette-neutral-variant80: #c4c6d0;
  --palette-neutral-variant90: #e1e2ec;
  --palette-neutral-variant95: #eff0fa;
  --palette-neutral-variant98: #f9f9ff;
  --palette-neutral-variant99: #fefbff;
  --palette-neutral-variant100: #ffffff;
  /* error */
  --palette-error0: #000000;
  --palette-error10: #410002;
  --palette-error20: #690005;
  --palette-error25: #7e0007;
  --palette-error30: #93000a;
  --palette-error35: #a80710;
  --palette-error40: #ba1a1a;
  --palette-error50: #de3730;
  --palette-error60: #ff5449;
  --palette-error70: #ff897d;
  --palette-error80: #ffb4ab;
  --palette-error90: #ffdad6;
  --palette-error95: #ffedea;
  --palette-error98: #fff8f7;
  --palette-error99: #fffbff;
  --palette-error100: #ffffff;
  /* light */
  --color-primary-light: #005bc1;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #d8e2ff;
  --color-on-primary-container-light: #001a41;
  --color-secondary-light: #8a1cda;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #f1daff;
  --color-on-secondary-container-light: #2d004f;
  --color-tertiary-light: #a000be;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #ffd6ff;
  --color-on-tertiary-container-light: #350040;
  --color-error-light: #ba1a1a;
  --color-error-container-light: #ffdad6;
  --color-on-error-light: #ffffff;
  --color-on-error-container-light: #410002;
  --color-background-light: #fefbff;
  --color-on-background-light: #1b1b1f;
  --color-surface-light: #fefbff;
  --color-on-surface-light: #1b1b1f;
  --color-surface-variant-light: #e1e2ec;
  --color-on-surface-variant-light: #44474f;
  --color-outline-light: #74777f;
  --color-inverse-on-surface-light: #f2f0f4;
  --color-inverse-surface-light: #303033;
  --color-inverse-primary-light: #adc6ff;
  --color-shadow-light: #000000;
  --color-surface-tint-light: #005bc1;
  --color-outline-variant-light: #c4c6d0;
  --color-scrim-light: #000000;
  /* dark */
  --color-primary-dark: #adc6ff;
  --color-on-primary-dark: #002e69;
  --color-primary-container-dark: #004494;
  --color-on-primary-container-dark: #d8e2ff;
  --color-secondary-dark: #e0b7ff;
  --color-on-secondary-dark: #4b007d;
  --color-secondary-container-dark: #6b00af;
  --color-on-secondary-container-dark: #f1daff;
  --color-tertiary-dark: #f7adff;
  --color-on-tertiary-dark: #560068;
  --color-tertiary-container-dark: #7a0092;
  --color-on-tertiary-container-dark: #ffd6ff;
  --color-error-dark: #ffb4ab;
  --color-error-container-dark: #93000a;
  --color-on-error-dark: #690005;
  --color-on-error-container-dark: #ffdad6;
  --color-background-dark: #1b1b1f;
  --color-on-background-dark: #e3e2e6;
  --color-surface-dark: #1b1b1f;
  --color-on-surface-dark: #e3e2e6;
  --color-surface-variant-dark: #44474f;
  --color-on-surface-variant-dark: #c4c6d0;
  --color-outline-dark: #8e9099;
  --color-inverse-on-surface-dark: #1b1b1f;
  --color-inverse-surface-dark: #e3e2e6;
  --color-inverse-primary-dark: #005bc1;
  --color-shadow-dark: #000000;
  --color-surface-tint-dark: #adc6ff;
  --color-outline-variant-dark: #44474f;
  --color-scrim-dark: #000000;
}


@media (prefers-color-scheme: light) {
  :root {
    /* light */
    --color-primary: var(--color-primary-light);
    --color-on-primary: var(--color-on-primary-light);
    --color-primary-container: var(--color-primary-container-light);
    --color-on-primary-container: var(--color-on-primary-container-light);
    --color-secondary: var(--color-secondary-light);
    --color-on-secondary: var(--color-on-secondary-light);
    --color-secondary-container: var(--color-secondary-container-light);
    --color-on-secondary-container: var(--color-on-secondary-container-light);
    --color-tertiary: var(--color-tertiary-light);
    --color-on-tertiary: var(--color-on-tertiary-light);
    --color-tertiary-container: var(--color-tertiary-container-light);
    --color-on-tertiary-container: var(--color-on-tertiary-container-light);
    --color-error: var(--color-error-light);
    --color-error-container: var(--color-error-container-light);
    --color-on-error: var(--color-on-error-light);
    --color-on-error-container: var(--color-on-error-container-light);
    --color-background: var(--color-background-light);
    --color-on-background: var(--color-on-background-light);
    --color-surface: var(--color-surface-light);
    --color-on-surface: var(--color-on-surface-light);
    --color-surface-variant: var(--color-surface-variant-light);
    --color-on-surface-variant: var(--color-on-surface-variant-light);
    --color-outline: var(--color-outline-light);
    --color-inverse-on-surface: var(--color-inverse-on-surface-light);
    --color-inverse-surface: var(--color-inverse-surface-light);
    --color-inverse-primary: var(--color-inverse-primary-light);
    --color-shadow: var(--color-shadow-light);
    --color-surface-tint: var(--color-surface-tint-light);
    --color-outline-variant: var(--color-outline-variant-light);
    --color-scrim: var(--color-scrim-light);
    /* primary */
    --palette-var-primary0: var(--palette-primary0);
    --palette-var-primary10: var(--palette-primary10);
    --palette-var-primary20: var(--palette-primary20);
    --palette-var-primary25: var(--palette-primary25);
    --palette-var-primary30: var(--palette-primary30);
    --palette-var-primary35: var(--palette-primary35);
    --palette-var-primary40: var(--palette-primary40);
    --palette-var-primary50: var(--palette-primary50);
    --palette-var-primary60: var(--palette-primary60);
    --palette-var-primary70: var(--palette-primary70);
    --palette-var-primary80: var(--palette-primary80);
    --palette-var-primary90: var(--palette-primary90);
    --palette-var-primary95: var(--palette-primary95);
    --palette-var-primary98: var(--palette-primary98);
    --palette-var-primary99: var(--palette-primary99);
    --palette-var-primary100: var(--palette-primary100);
    /* secondary */
    --palette-var-secondary0: var(--palette-secondary0);
    --palette-var-secondary10: var(--palette-secondary10);
    --palette-var-secondary20: var(--palette-secondary20);
    --palette-var-secondary25: var(--palette-secondary25);
    --palette-var-secondary30: var(--palette-secondary30);
    --palette-var-secondary35: var(--palette-secondary35);
    --palette-var-secondary40: var(--palette-secondary40);
    --palette-var-secondary50: var(--palette-secondary50);
    --palette-var-secondary60: var(--palette-secondary60);
    --palette-var-secondary70: var(--palette-secondary70);
    --palette-var-secondary80: var(--palette-secondary80);
    --palette-var-secondary90: var(--palette-secondary90);
    --palette-var-secondary95: var(--palette-secondary95);
    --palette-var-secondary98: var(--palette-secondary98);
    --palette-var-secondary99: var(--palette-secondary99);
    --palette-var-secondary100: var(--palette-secondary100);
    /* tertiary */
    --palette-var-tertiary0: var(--palette-tertiary0);
    --palette-var-tertiary10: var(--palette-tertiary10);
    --palette-var-tertiary20: var(--palette-tertiary20);
    --palette-var-tertiary25: var(--palette-tertiary25);
    --palette-var-tertiary30: var(--palette-tertiary30);
    --palette-var-tertiary35: var(--palette-tertiary35);
    --palette-var-tertiary40: var(--palette-tertiary40);
    --palette-var-tertiary50: var(--palette-tertiary50);
    --palette-var-tertiary60: var(--palette-tertiary60);
    --palette-var-tertiary70: var(--palette-tertiary70);
    --palette-var-tertiary80: var(--palette-tertiary80);
    --palette-var-tertiary90: var(--palette-tertiary90);
    --palette-var-tertiary95: var(--palette-tertiary95);
    --palette-var-tertiary98: var(--palette-tertiary98);
    --palette-var-tertiary99: var(--palette-tertiary99);
    --palette-var-tertiary100: var(--palette-tertiary100);
    /* neutral */
    --palette-var-neutral0: var(--palette-neutral0);
    --palette-var-neutral10: var(--palette-neutral10);
    --palette-var-neutral20: var(--palette-neutral20);
    --palette-var-neutral25: var(--palette-neutral25);
    --palette-var-neutral30: var(--palette-neutral30);
    --palette-var-neutral35: var(--palette-neutral35);
    --palette-var-neutral40: var(--palette-neutral40);
    --palette-var-neutral50: var(--palette-neutral50);
    --palette-var-neutral60: var(--palette-neutral60);
    --palette-var-neutral70: var(--palette-neutral70);
    --palette-var-neutral80: var(--palette-neutral80);
    --palette-var-neutral90: var(--palette-neutral90);
    --palette-var-neutral95: var(--palette-neutral95);
    --palette-var-neutral98: var(--palette-neutral98);
    --palette-var-neutral99: var(--palette-neutral99);
    --palette-var-neutral100: var(--palette-neutral100);
    /* neutral-variant */
    --palette-var-neutral-variant0: var(--palette-neutral-variant0);
    --palette-var-neutral-variant10: var(--palette-neutral-variant10);
    --palette-var-neutral-variant20: var(--palette-neutral-variant20);
    --palette-var-neutral-variant25: var(--palette-neutral-variant25);
    --palette-var-neutral-variant30: var(--palette-neutral-variant30);
    --palette-var-neutral-variant35: var(--palette-neutral-variant35);
    --palette-var-neutral-variant40: var(--palette-neutral-variant40);
    --palette-var-neutral-variant50: var(--palette-neutral-variant50);
    --palette-var-neutral-variant60: var(--palette-neutral-variant60);
    --palette-var-neutral-variant70: var(--palette-neutral-variant70);
    --palette-var-neutral-variant80: var(--palette-neutral-variant80);
    --palette-var-neutral-variant90: var(--palette-neutral-variant90);
    --palette-var-neutral-variant95: var(--palette-neutral-variant95);
    --palette-var-neutral-variant98: var(--palette-neutral-variant98);
    --palette-var-neutral-variant99: var(--palette-neutral-variant99);
    --palette-var-neutral-variant100: var(--palette-neutral-variant100);
    /* error */
    --palette-var-error0: var(--palette-error0);
    --palette-var-error10: var(--palette-error10);
    --palette-var-error20: var(--palette-error20);
    --palette-var-error25: var(--palette-error25);
    --palette-var-error30: var(--palette-error30);
    --palette-var-error35: var(--palette-error35);
    --palette-var-error40: var(--palette-error40);
    --palette-var-error50: var(--palette-error50);
    --palette-var-error60: var(--palette-error60);
    --palette-var-error70: var(--palette-error70);
    --palette-var-error80: var(--palette-error80);
    --palette-var-error90: var(--palette-error90);
    --palette-var-error95: var(--palette-error95);
    --palette-var-error98: var(--palette-error98);
    --palette-var-error99: var(--palette-error99);
    --palette-var-error100: var(--palette-error100);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    /* dark */
    --color-primary: var(--color-primary-dark);
    --color-on-primary: var(--color-on-primary-dark);
    --color-primary-container: var(--color-primary-container-dark);
    --color-on-primary-container: var(--color-on-primary-container-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-on-secondary: var(--color-on-secondary-dark);
    --color-secondary-container: var(--color-secondary-container-dark);
    --color-on-secondary-container: var(--color-on-secondary-container-dark);
    --color-tertiary: var(--color-tertiary-dark);
    --color-on-tertiary: var(--color-on-tertiary-dark);
    --color-tertiary-container: var(--color-tertiary-container-dark);
    --color-on-tertiary-container: var(--color-on-tertiary-container-dark);
    --color-error: var(--color-error-dark);
    --color-error-container: var(--color-error-container-dark);
    --color-on-error: var(--color-on-error-dark);
    --color-on-error-container: var(--color-on-error-container-dark);
    --color-background: var(--color-background-dark);
    --color-on-background: var(--color-on-background-dark);
    --color-surface: var(--color-surface-dark);
    --color-on-surface: var(--color-on-surface-dark);
    --color-surface-variant: var(--color-surface-variant-dark);
    --color-on-surface-variant: var(--color-on-surface-variant-dark);
    --color-outline: var(--color-outline-dark);
    --color-inverse-on-surface: var(--color-inverse-on-surface-dark);
    --color-inverse-surface: var(--color-inverse-surface-dark);
    --color-inverse-primary: var(--color-inverse-primary-dark);
    --color-shadow: var(--color-shadow-dark);
    --color-surface-tint: var(--color-surface-tint-dark);
    --color-outline-variant: var(--color-outline-variant-dark);
    --color-scrim: var(--color-scrim-dark);
    /* primary */
    --palette-var-primary0: var(--palette-primary100);
    --palette-var-primary10: var(--palette-primary99);
    --palette-var-primary20: var(--palette-primary98);
    --palette-var-primary25: var(--palette-primary95);
    --palette-var-primary30: var(--palette-primary90);
    --palette-var-primary35: var(--palette-primary80);
    --palette-var-primary40: var(--palette-primary70);
    --palette-var-primary50: var(--palette-primary60);
    --palette-var-primary60: var(--palette-primary50);
    --palette-var-primary70: var(--palette-primary40);
    --palette-var-primary80: var(--palette-primary35);
    --palette-var-primary90: var(--palette-primary30);
    --palette-var-primary95: var(--palette-primary25);
    --palette-var-primary98: var(--palette-primary20);
    --palette-var-primary99: var(--palette-primary10);
    --palette-var-primary100: var(--palette-primary0);
    /* secondary */
    --palette-var-secondary0: var(--palette-secondary100);
    --palette-var-secondary10: var(--palette-secondary99);
    --palette-var-secondary20: var(--palette-secondary98);
    --palette-var-secondary25: var(--palette-secondary95);
    --palette-var-secondary30: var(--palette-secondary90);
    --palette-var-secondary35: var(--palette-secondary80);
    --palette-var-secondary40: var(--palette-secondary70);
    --palette-var-secondary50: var(--palette-secondary60);
    --palette-var-secondary60: var(--palette-secondary50);
    --palette-var-secondary70: var(--palette-secondary40);
    --palette-var-secondary80: var(--palette-secondary35);
    --palette-var-secondary90: var(--palette-secondary30);
    --palette-var-secondary95: var(--palette-secondary25);
    --palette-var-secondary98: var(--palette-secondary20);
    --palette-var-secondary99: var(--palette-secondary10);
    --palette-var-secondary100: var(--palette-secondary0);
    /* tertiary */
    --palette-var-tertiary0: var(--palette-tertiary100);
    --palette-var-tertiary10: var(--palette-tertiary99);
    --palette-var-tertiary20: var(--palette-tertiary98);
    --palette-var-tertiary25: var(--palette-tertiary95);
    --palette-var-tertiary30: var(--palette-tertiary90);
    --palette-var-tertiary35: var(--palette-tertiary80);
    --palette-var-tertiary40: var(--palette-tertiary70);
    --palette-var-tertiary50: var(--palette-tertiary60);
    --palette-var-tertiary60: var(--palette-tertiary50);
    --palette-var-tertiary70: var(--palette-tertiary40);
    --palette-var-tertiary80: var(--palette-tertiary35);
    --palette-var-tertiary90: var(--palette-tertiary30);
    --palette-var-tertiary95: var(--palette-tertiary25);
    --palette-var-tertiary98: var(--palette-tertiary20);
    --palette-var-tertiary99: var(--palette-tertiary10);
    --palette-var-tertiary100: var(--palette-tertiary0);
    /* neutral */
    --palette-var-neutral0: var(--palette-neutral100);
    --palette-var-neutral10: var(--palette-neutral99);
    --palette-var-neutral20: var(--palette-neutral98);
    --palette-var-neutral25: var(--palette-neutral95);
    --palette-var-neutral30: var(--palette-neutral90);
    --palette-var-neutral35: var(--palette-neutral80);
    --palette-var-neutral40: var(--palette-neutral70);
    --palette-var-neutral50: var(--palette-neutral60);
    --palette-var-neutral60: var(--palette-neutral50);
    --palette-var-neutral70: var(--palette-neutral40);
    --palette-var-neutral80: var(--palette-neutral35);
    --palette-var-neutral90: var(--palette-neutral30);
    --palette-var-neutral95: var(--palette-neutral25);
    --palette-var-neutral98: var(--palette-neutral20);
    --palette-var-neutral99: var(--palette-neutral10);
    --palette-var-neutral100: var(--palette-neutral0);
    /* neutral-variant */
    --palette-var-neutral-variant0: var(--palette-neutral-variant100);
    --palette-var-neutral-variant10: var(--palette-neutral-variant99);
    --palette-var-neutral-variant20: var(--palette-neutral-variant98);
    --palette-var-neutral-variant25: var(--palette-neutral-variant95);
    --palette-var-neutral-variant30: var(--palette-neutral-variant90);
    --palette-var-neutral-variant35: var(--palette-neutral-variant80);
    --palette-var-neutral-variant40: var(--palette-neutral-variant70);
    --palette-var-neutral-variant50: var(--palette-neutral-variant60);
    --palette-var-neutral-variant60: var(--palette-neutral-variant50);
    --palette-var-neutral-variant70: var(--palette-neutral-variant40);
    --palette-var-neutral-variant80: var(--palette-neutral-variant35);
    --palette-var-neutral-variant90: var(--palette-neutral-variant30);
    --palette-var-neutral-variant95: var(--palette-neutral-variant25);
    --palette-var-neutral-variant98: var(--palette-neutral-variant20);
    --palette-var-neutral-variant99: var(--palette-neutral-variant10);
    --palette-var-neutral-variant100: var(--palette-neutral-variant0);
    /* error */
    --palette-var-error0: var(--palette-error100);
    --palette-var-error10: var(--palette-error99);
    --palette-var-error20: var(--palette-error98);
    --palette-var-error25: var(--palette-error95);
    --palette-var-error30: var(--palette-error90);
    --palette-var-error35: var(--palette-error80);
    --palette-var-error40: var(--palette-error70);
    --palette-var-error50: var(--palette-error60);
    --palette-var-error60: var(--palette-error50);
    --palette-var-error70: var(--palette-error40);
    --palette-var-error80: var(--palette-error35);
    --palette-var-error90: var(--palette-error30);
    --palette-var-error95: var(--palette-error25);
    --palette-var-error98: var(--palette-error20);
    --palette-var-error99: var(--palette-error10);
    --palette-var-error100: var(--palette-error0);
  }
}